@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

body {
  padding: 40px;
  height: 100vh;
  background-color: rgb(27, 23, 23);
}

header {
  text-align: center;
}

header h1 {
  color: white;
  letter-spacing: 2px;
  margin-top: 10px;
  text-transform: capitalize;
}
header h2 {
  color: white;
  letter-spacing: 2px;
  margin-top: 10px;
  text-transform: capitalize;
  font-family: arial;
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px;
}

main a {
  margin: 10px;
  text-decoration: none;
}

button {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  align-items: center;
  border-radius: 7px;
}

svg {
  height: 30px;
}

p {
  margin: 0 auto;
}

div {
  color: white;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 2px;
  font-family: arial;
}
